<div class="wrapper" *ngIf="prompt">
  <div
    class="page-header page-header-xxs"
    [ngStyle]="{
      'background-image': 'url(assets/img/thumbnail/' + 9 + '.jpg)'
    }"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <h1 class="title">{{ title }}</h1>
      </div>
    </div>
  </div>

  <!--     *********     Detail info     *********      -->
  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <app-blog-chat
            [character]="2"
            [message]="'大事なメールを送る際にミスが多いのを直したい'"
          ></app-blog-chat>
          <app-blog-chat
            [character]="3"
            [message]="'メール文章の誤字脱字を手軽に直したい'"
          ></app-blog-chat>

          <div class="space-top"></div>
          <p>
            仕事で大事なメールを送った後に、誤字・脱字に気づいてしまった。。<br />
            メールでの文章の言い回しが上手くできてなかったことで、取引先や上司の機嫌を損ねてしまった。。<br />
            といった経験はありませんか？
          </p>
          <div class="space-top"></div>
          <p>
            自分が書いた文章の誤字脱字や違和感をチェックしたいときは、<span
              class="text-primary"
              >ChatGPTのプロンプト</span
            >を使うと、あなたの作った文章を<span class="text-primary"
              >第三者的な視点で添削</span
            >してくれます！
          </p>
          <br />
          <p>
            例えばこの文章。<br />間違いが赤字になっているので目につきますが、自分が書くと見落としてしまいそうですよね。
          </p>
          <div class="card card-just-text no-transition" data-radius="none">
            <div class="card-body">
              <h3 class="card-category">誤字脱字がある例文</h3>

              <h4 class="card-description">
                恐れ入りますが、また明日に
                <span class="text-primary">なりまして</span>
                お電話のお時間をご連絡
                <span class="text-primary">せていただきますので</span>
                引き続きどうぞよろしくお願い致します。
              </h4>
            </div>
          </div>
          <app-blog-chat
            [character]="2"
            [message]="
              'なんとなく違和感があるけどどこを修正したら良いんだろう...'
            "
          ></app-blog-chat>
          <app-blog-chat
            [character]="3"
            [message]="
              '大事なメールに限って送信してから誤記に気づいたりするんだよな...'
            "
          ></app-blog-chat>
          <p>
            直すと案外時間がかかってしまう文章もChatGPTならお手のもの！<br />このカードを押してそのプロンプト（指令文）をコピー、利用手順通りにChatGPTに送信するだけであっという間に誤字脱字を直してくれます。
          </p>
          <div class="row">
            <div class="col-11 col-sm-10 col-md-9 col-xl-7 ml-auto mr-auto">
              <div class="space-top"></div>
              <app-list-card [prompt]="prompt"></app-list-card>
            </div>
          </div>
          <br />
          <p>ChatGPTに送信してから１秒足らずで以下の返答がきました。</p>
          <div class="card card-just-text no-transition" data-radius="none">
            <div class="card-body">
              <h3 class="card-category">修正前</h3>

              <h4 class="card-description">
                恐れ入りますが、また明日に
                <span class="text-primary">なりまして</span>
                お電話のお時間をご連絡
                <span class="text-primary">せていただきますので</span
                >引き続きどうぞよろしくお願い致します。
              </h4>
              <h3 class="card-category">↓</h3>
              <h3 class="card-category">修正後</h3>
              <h4 class="card-description">
                恐れ入りますが、明日に改めてお電話のご連絡のお時間をお知らせいたしますので、引き続きどうぞよろしくお願いいたします。
              </h4>
            </div>
          </div>

          <p>いかがでしたでしょうか。</p>
          <p>一気に洗練された文章になりました。</p>
          <div class="space-top"></div>
          <app-blog-chat
            [character]="2"
            [message]="'一瞬で変なところがなくなってびっくり！'"
          ></app-blog-chat>
          <app-blog-chat
            [character]="4"
            [message]="
              'こうゆうのを待ってた！いつもメール作成に30分以上かかってる後輩に教えてあげよう！'
            "
          ></app-blog-chat>
          <app-blog-chat
            [character]="3"
            [message]="'無料でこんなに便利なプロンプトを使わない手はない...!'"
          ></app-blog-chat>
          <p>
            プロンプトの力を借りて誤字脱字、文章の違和感を一気に減らしてみませんか？
          </p>
        </div>
      </div>
      <div class="text-center" *ngIf="!auth.isAuthenticated()">
        <div class="space-50"></div>
        <p>\ 今すぐ無料会員登録してプロンプトをGet! /</p>
        <a [routerLink]="['/register']" class="btn btn-round btn-wd btn-primary"
          >無料会員登録する</a
        >
      </div>
      <div class="space-top"></div>
      <div class="text-center">
        <p>\ 文章校正に特化したサービスもあるよ /</p>
        <a href="https://www.shuseisan.com/" target="_blank" class="">
          <img
            class="banner-gif"
            src="
            ./assets/img/shuseisan-banner.gif"
            alt="修正さんBanner"
          />
        </a>
      </div>
      <div class="space-top"></div>
    </div>
  </div>
</div>
