<!-- <app-searchbar (event)="filterByName($event)"></app-searchbar> -->
<app-quizbar></app-quizbar>

<div class="section section-nude text-center">
  <div class="container">
    <!-- <app-prompt-list-example></app-prompt-list-example>
    <app-prompt-list-category></app-prompt-list-category> -->
    <app-prompt-list-latest></app-prompt-list-latest>
    <app-prompt-list-ranking></app-prompt-list-ranking>
  </div>
</div>

<div class="section section-testimonials section-nude text-center">
  <div class="container">
    <app-prompt-list-comment></app-prompt-list-comment>
  </div>
</div>

<!--     *********    CALL TO ACTION    *********      -->
<div class="subscribe-line">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <h3>オリジナルプロンプトを作ってみませんか？</h3>
        <p class="cta-description">あなた専用のプロンプトノートも作れます</p>
      </div>
      <div class="col-md-5 col-lg-4">
        <br />
        <a
          *ngIf="!auth.isAuthenticated()"
          [routerLink]="['/register']"
          class="btn btn-round btn-lg btn-block btn-primary"
          >まずは無料会員登録する</a
        >
        <a
          *ngIf="auth.isAuthenticated()"
          [routerLink]="['/user']"
          fragment="new"
          class="btn btn-round btn-lg btn-block btn-primary"
          >自作プロンプトを登録する</a
        >
      </div>
    </div>
  </div>
</div>

<!--     *********    Corner Button    *********      -->
<app-guide-button></app-guide-button>
