<div
  class="page-header page-header-small"
  style="background-image: url('./assets/img/bg/tressure-map.jpg')"
>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="space-50"></div>
      <h1 class="title">コピペで使える便利なテンプレート集</h1>
      <h2 class="description">\ Chat GPTプロンプトを検索！ /</h2>
      <app-searchbar (event)="filterByName($event)"></app-searchbar>
    </div>
  </div>
</div>
<div class="section section-nude text-center">
  <div class="container">
    <app-prompt-list-latest></app-prompt-list-latest>
    <app-prompt-list-ranking></app-prompt-list-ranking>
    <app-prompt-list-category></app-prompt-list-category>
  </div>
</div>

<!--     *********    Contact Button    *********      -->
<app-contact-button *ngIf="auth.isAuthenticated()"></app-contact-button>

<!--     *********    CALL TO ACTION    *********      -->
<ng-container *ngIf="!auth.isAuthenticated()">
  <div class="separator"></div>
  <div class="subscribe-line">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-8">
          <h3>プロンプトを登録しませんか？</h3>
          <p class="cta-description">自分専用のプロンプトノートが作れます</p>
        </div>
        <div class="col-md-3 col-sm-4">
          <br />
          <a
            [routerLink]="['/register']"
            class="btn btn-round btn-lg btn-block btn-primary"
            >プロンプトノートを作る</a
          >
        </div>
      </div>
    </div>
  </div>
</ng-container>
