<h3>活用事例を見る</h3>
<br />
<div class="row">
  <div class="col-md-12">
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/blog/english']"
    >
      英会話の練習をしたい時に
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/blog/self-compassion']"
    >
      自分について深く知りたい時に
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/blog/mail-communication']"
    >
      仕事のミスを減らしたい時に
    </a>
  </div>
</div>
