<h3>活用事例を見る</h3>
<br />
<owl-carousel-o
  [options]="customOptions"
  (dragging)="isDragging = $event.dragging"
>
  <ng-template carouselSlide>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [owlRouterLink]="['/blog/mail-communication']"
      [stopLink]="isDragging"
      >文章の誤字脱字を減らしたい時に
    </a>
  </ng-template>
  <ng-template carouselSlide>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [owlRouterLink]="['/blog/english']"
      [stopLink]="isDragging"
      >英会話の練習をしたい時に
    </a>
  </ng-template>
  <!-- <ng-template carouselSlide>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [owlRouterLink]="['/blog/self-compassion']"
      [stopLink]="isDragging"
      >自分について深く知りたい時に
    </a>
  </ng-template> -->

  <ng-template carouselSlide>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [owlRouterLink]="['/blog/how-to-use-prompt']"
      [stopLink]="isDragging"
      >プロンプトを使いこなせてないと感じたら
    </a>
  </ng-template>
</owl-carousel-o>
