<a
  *ngIf="isTop()"
  [routerLink]="['/manual']"
  class="btn btn-primary btn-round fixed-button btn-guide"
>
  <img alt="ガイドボタン" src="./assets/icons/2.png" />
  ガイド
</a>

<div *ngIf="isDetail()">
  <div
    [ngClass]="auth.isAuthenticated() ? 'detail-popup-auth' : 'detail-popup'"
  >
    <img src="./assets/icons/2.png" alt="ガイドボタン" draggable="false" />
    <div class="popover-content">
      ChatGPTにこのプロンプト(指令文)を<br />コピー＆ペーストしてね
    </div>
  </div>
</div>
<!-- <div class="detail-popup" *ngIf="isDetail()">
  <img src="./assets/icons/2-ouch.png" alt="ガイドボタン" draggable="false" />
  <div class="popover-content">
    <p>いたッ</p>
  </div>
</div> -->
