.fixed-button {
  position: fixed;
  right: 3px;
  bottom: 6px;
  z-index: 3;
}
@media (min-width: 530px) {
  .fixed-button {
    right: 20px;
    bottom: 20px;
  }
}
.btn-guide {
  img {
    width: 50px;
    display: block;
  }
}

.detail-popup,
.detail-popup-auth {
  img {
    position: fixed;
    pointer-events: none;
    width: 75px;
    right: 18px;
    bottom: 5px;
    z-index: 2;
  }

  .popover-content {
    position: fixed;
    text-align: center;
    width: 270px;
    right: 105px;
    bottom: 14px;
    display: block;
    background-color: #fff;
    padding: 10px 8px;
    border-radius: 8px;
    z-index: 2;
  }

  .popover-content::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -11%;
    margin-top: -16px; /* 三角形部分が縁にかぶらないように微調整 */
    border-width: 16px; /* 三角形部分のサイズより大きな縁を指定 */
    border-style: solid;
    border-color: transparent transparent transparent #fff; /* 三角形部分の縁の色を指定 */
    z-index: 1;
  }
}
@media (max-width: 530px) {
  .detail-popup-auth {
    img {
      bottom: 68px;
    }

    .popover-content {
      bottom: 68px;
    }
  }
}
