<div class="space-top"></div>
<div *ngIf="isTop() || isDetail()">
  <a *ngIf="!auth.isAuthenticated()" [routerLink]="['/faq']" class="top-popup">
    <img src="./assets/icons/2.png" alt="ガイドボタン" draggable="false" />
    <div class="popover-content">Q & A は<br />タヌキをクリック</div>
  </a>
  <a
    *ngIf="auth.isAuthenticated()"
    href="https://forms.gle/WYCT3b5VTkqWEE4Y6"
    target="_blank"
    class="top-popup-auth"
  >
    <img src="./assets/icons/2.png" alt="ガイドボタン" draggable="false" />
    <div class="popover-content">お問い合わせは<br />タヌキをクリック</div>
  </a>
</div>
