.feedback-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 3;
}

img {
  position: fixed;
  width: 75px;
  right: 18px;
  bottom: 5px;
  z-index: 2;
}

.top-popup {
  .popover-content {
    position: fixed;
    text-align: center;
    font-size: 14px;
    width: 140px;
    right: 105px;
    bottom: 14px;
    display: block;
    background-color: #fff;
    padding: 10px 8px;
    border-radius: 8px;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -20%;
      margin-top: -16px; /* 三角形部分が縁にかぶらないように微調整 */
      border-width: 16px; /* 三角形部分のサイズより大きな縁を指定 */
      border-style: solid;
      border-color: transparent transparent transparent #fff; /* 三角形部分の縁の色を指定 */
      z-index: 1;
    }
  }
}

.detail-popup,
.detail-popup-auth {
  .popover-content {
    position: fixed;
    text-align: center;
    font-size: 14px;
    width: 265px;
    right: 105px;
    bottom: 14px;
    display: block;
    background-color: #fff;
    padding: 10px 8px;
    border-radius: 8px;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -11%;
      margin-top: -16px; /* 三角形部分が縁にかぶらないように微調整 */
      border-width: 16px; /* 三角形部分のサイズより大きな縁を指定 */
      border-style: solid;
      border-color: transparent transparent transparent #fff; /* 三角形部分の縁の色を指定 */
      z-index: 1;
    }
  }
}

@media (max-width: 530px) {
  .feedback-button {
    right: 3px;
    bottom: 60px;
  }

  .top-popup,
  .detail-popup {
    img {
      right: 8px;
    }

    .popover-content {
      right: 95px;
    }
  }

  .top-popup-auth,
  .detail-popup-auth {
    img {
      right: 8px;
      bottom: 52px;
    }

    .popover-content {
      right: 95px;
      bottom: 58px;
    }
  }
}
