.description {
  font-size: 13px;
  margin-top: 8px;
}

.font-small {
  font-size: 90%;
}

.blur {
  color: transparent;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  min-height: 70px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.card-body {
  position: relative;
}

.card-description {
  overflow: hidden;
  white-space: pre-line;
}

.login-btn-area {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;
}

.loader {
  width: 10.5px;
  height: 10.5px;
  border-radius: 50%;
  display: block;
  margin: 5.25px auto;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  animation: shadowExpandX 2s linear infinite alternate;
}

@keyframes shadowExpandX {
  0% {
    box-shadow: 0 0, 0 0;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: -24px 0, 24px 0;
    color: rgba(255, 255, 255, 0.8);
  }
}
