<div class="row">
  <div class="col-md-8 mr-auto ml-auto">
    <div class="card no-transition">
      <div class="card-body">
        <div class="author pull-left">
          <a href="javascript:void(0)">
            <img
              src="assets/icons/gpt.svg"
              alt="..."
              class="avatar img-raised"
            />
            <span>あつプロAI</span>
          </a>
        </div>
        <div class="clearfix"></div>
        <h3 class="card-description">生年月日を入力してください</h3>
      </div>
    </div>

    <div class="card no-transition">
      <div class="card-body">
        <div class="author pull-left">
          <a href="javascript:void(0)">
            <span>あなた</span>
          </a>
        </div>
        <div class="clearfix"></div>
        <h3 class="card-description">1999年1月1日</h3>
      </div>
    </div>

    <form
      class="settings-form"
      #userForm="ngForm"
      (ngSubmit)="sendMessage(userForm)"
    >
      <div class="form-group">
        <textarea
          type="text"
          class="form-control textarea-limited"
          placeholder="ここに入力して送信ボタンを押してね。"
          name="description"
          rows="5"
          maxlength="300"
        ></textarea>
        <h5>
          <!-- <small
      ><span id="textarea-limited-message" class="pull-right">
        <div *ngIf="!userData.description">残文字数 2000</div>
        <div *ngIf="userData.description">
          残文字数 {{ 2000 - userData.description.length }}
        </div>
      </span></small
    > -->
        </h5>
      </div>
      <div class="space-top"></div>
      <button
        [disabled]="!(userForm.valid && userForm.dirty && !isClicked)"
        type="submit"
        class="btn btn-round btn-wd btn-primary"
      >
        送信する
      </button>
    </form>
  </div>
</div>
<div class="space-top"></div>
