.code-snippet {
  position: relative;
}

.btn-login {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-link {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}

pre.prettyprint {
  height: 30vh;
  white-space: pre-wrap;
}

.blur {
  color: transparent;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.no-copy {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
