<div class="code-snippet">
  <div *ngIf="!auth.isAuthenticated()">
    <pre
      class="prettyprint"
    ><code class="blur no-copy">{{ prompt.prompt }}</code></pre>
    <button
      class="btn btn-primary btn-round btn-lg btn-wd"
      (click)="modalLoginOpen()"
    >
      <i class="nc-icon nc-lock-circle-open"></i> ログインしてコピーする
    </button>
  </div>
  <div *ngIf="auth.isAuthenticated()">
    <pre class="prettyprint"><code>{{ prompt.prompt }}</code></pre>
    <button
      *ngIf="!isCopied"
      class="btn btn-outline-primary"
      (click)="copyCode(); isCopied = true"
      [disabled]="isClicked"
    >
      コピーする
    </button>
    <button
      *ngIf="isCopied"
      class="btn btn-outline-primary"
      (click)="copyCode()"
    >
      コピーしました！
    </button>
    <a
      type="button"
      class="btn btn-success btn-lg btn-round text-center"
      href="https://chat.openai.com/"
      target="_blank"
    >
      <i class="fa fa-external-link"></i> Chat GPTで試す
    </a>
  </div>
</div>
