.code-snippet {
  position: relative;
}

.btn-outline-primary {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-link {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

pre.prettyprint {
  height: 40vh;
}

.blur {
  color: transparent;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.no-copy {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
