<div *ngIf="!auth.isAuthenticated()">
  <div class="code-snippet">
    <pre class="prettyprint blur no-copy">{{ prompt.prompt }}</pre>
    <button
      class="btn btn-primary btn-round btn-lg btn-wd btn-login"
      (click)="modalLoginOpen()"
    >
      <i class="nc-icon nc-lock-circle-open"></i>&nbsp; プロンプトを見る
    </button>
    <a
      class="btn btn-primary btn-link btn-lg btn-wd"
      [routerLink]="['/register']"
      [queryParams]="{ promptId: prompt._id }"
    >
      <i class="nc-icon nc-lock-circle-open"></i>&nbsp; 無料会員登録する
    </a>
  </div>
  <button
    type="button"
    class="btn btn-success btn-round text-center"
    [disabled]="true"
  >
    <i class="fa fa-external-link"></i>&nbsp; ログイン後にChatGPTで試せます
  </button>
</div>

<div *ngIf="auth.isAuthenticated()">
  <div class="code-snippet">
    <pre class="prettyprint">{{ prompt.prompt }}</pre>
    <button
      *ngIf="!isCopied"
      type="button"
      class="btn btn-primary btn-round btn-wd text-center"
      (click)="copyCode(); isCopied = true"
    >
      <i class="nc-icon nc-single-copy-04"></i>&nbsp; STEP1
      プロンプトをコピーする
    </button>
    <button
      *ngIf="isCopied"
      class="btn btn-outline-primary btn-round text-center"
      (click)="copyCode()"
    >
      <i class="nc-icon nc-single-copy-04"></i>&nbsp; コピーしました！
    </button>
  </div>
  <br />

  <button
    *ngIf="!isCopied"
    type="button"
    class="btn btn-success btn-round btn-wd text-center"
    [disabled]="true"
  >
    <i class="nc-icon nc-send"></i>&nbsp; STEP2 先にコピーしてください
  </button>
  <a
    *ngIf="isCopied"
    type="button"
    class="btn btn-success btn-round btn-wd text-center"
    href="https://chat.openai.com/"
    target="_blank"
  >
    <i class="nc-icon nc-send"></i>&nbsp; STEP2 ChatGPTでペーストする
  </a>
</div>
