<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-transition" data-radius="none">
      <img src="./assets/img/lp/1.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/2.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/3.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/4.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/5.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/6.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/7.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/8.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/9.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/10.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/11.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/12.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/13.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-transition" data-radius="none">
      <img src="./assets/img/lp/14.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/15.png" alt="..." />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card no-shadow no-transition" data-radius="none">
      <img src="./assets/img/lp/16.png" alt="..." />
    </div>
  </div>
</div>
