h2 {
  margin: 15px 0 20px;
}

.col-8 {
  padding: 0 5px 0 10px;
}

.col-4 {
  padding: 0 10px 0 5px;
}

.card-form-horizontal .card-body {
  padding: 10px 15px 0;
}

.separator-10 {
  content: "Separator";
  display: block;
  width: 100%;
  padding: 5px;
}
