<div class="wrapper" *ngIf="prompt">
  <div
    class="page-header page-header-xs"
    [ngStyle]="{
      'background-image':
        'url(assets/img/thumbnail/' + prompt.categories[0].id + '.jpg)'
    }"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <!-- <div class="space-top"></div> -->
        <h1 class="title">〜英語が話せるようになりたいと思った時に〜</h1>
      </div>
    </div>
  </div>

  <!--     *********     Detail info     *********      -->
  <div class="section section-nude">
    <div class="container">
      <h2 class="title text-center">
        【超効率的】<br />
        楽しく学べていつの間にか英語がペラペラになる究極の学習方法！<br />
        〜ついに外国人と対等におしゃべりができるようになる〜
      </h2>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <p>「英語には何回も挑戦したけど毎回挫折してる..」</p>
          <p>「お金を払って英語を学んだけど結局身についてないなあ」</p>
          <p>「英語を頑張って勉強したのに外国人の前では全然話せない...」</p>
          <p>そう思っている人は多いのではないでしょうか？</p>
          <br />
          <p>
            私もそうでした。小中高と英語を学習し、社会人になってからも単語帳や文法書を読んだり、オンライン英会話にも挑戦。TOEICを受けたこともありました。
            英語を懸命に学んでいるときはいける！話せる！と思っていました。
            しかし、一歩外に出て外国人との交流会に行くと自分から挨拶はできるけど相手の言っていることは聞き取れない、理解できない。適当に相槌を打っているとどんどんわからなくなっていき会話が終了...
            撃沈。落ち込んで英語は一旦休憩して最初からやり直し。
            私と同じように悔しい経験をした方、たくさんいると思います。
          </p>
          <br />
          <p>
            そんな私ですが、今までと違う方法で英語を学習したら、、、
            なんと、外国人と対等におしゃべりができる程になりました。
            海外転職の際に英会話テストをしたのですが、”あなたの英語なら大丈夫ね”とお墨付きもいただくことができました。
          </p>
          <br />
          <p>
            「そんな方法あるわけない」 <br />「そんなに簡単にできない」<br />
            そう思っている方もいらっしゃるでしょう。私も実際そうでした。でもできるようになったので是非みなさんにも同じようになってほしいと思い、今回この記事を書いています。
          </p>
          <br />
          <p>
            この方法は簡単にすぐペラペラになるというものではありません。
            しっかり時間をかけてでも着実に、楽しく、いつの間にか英語がわかる、話せる！ようになる方法です。
            ただし完全無料、かつ一人一人の性質に合った方法です。最新技術を使った方法なのでこの先有料になってしまうかもしれません。
          </p>
          <br />
          <p>試すなら今です！</p>
          <br />
          <p>その方法とは....</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title text-center">出力例</h2>
          あああ
        </div>
      </div>
    </div>
  </div>
</div>
