<div class="wrapper" *ngIf="prompt">
  <div
    class="page-header page-header-small"
    [ngStyle]="{
      'background-image':
        'url(assets/img/thumbnail/' + prompt.categories[0].id + '.jpg)'
    }"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <!-- <div class="space-top"></div> -->
        <h1 class="title">
          {{ prompt.name }}<br />
          <small>プロンプト</small><br />
        </h1>
        <a
          class="btn btn-link btn-lg btn-neutral"
          [routerLink]="['/user', prompt.user._id]"
        >
          <img
            class="avatar header-avatar"
            [src]="
              prompt.user.image
                ? prompt.user.image
                : prompt.user.prompts.length < 1
                ? './assets/icons/1.png'
                : prompt.user.prompts.length < 3
                ? './assets/icons/2.png'
                : prompt.user.prompts.length < 6
                ? './assets/icons/3.png'
                : prompt.user.prompts.length < 10
                ? './assets/icons/4.png'
                : './assets/icons/5.png'
            "
          />
          {{ prompt.user.name }}
        </a>
      </div>
      <div *ngIf="auth.isAuthenticated()" class="text-center">
        <div *ngIf="!isMine()">
          <button
            *ngIf="!isBookmarked"
            (click)="addBookmark()"
            [disabled]="isClicked"
            class="btn btn-primary btn-round"
          >
            <i class="nc-icon nc-favourite-28"></i>&nbsp; お気に入りへ追加
          </button>
          <button
            *ngIf="isBookmarked"
            (click)="deleteBookmark()"
            [disabled]="isClicked"
            class="btn btn-neutral btn-round"
          >
            <i class="nc-icon nc-favourite-28"></i>&nbsp; お気に入りから削除
          </button>
        </div>
        <a
          *ngIf="isMine()"
          class="btn btn-primary btn-round"
          [routerLink]="['/prompt/edit', prompt._id]"
        >
          <i class="fa fa-pencil"></i>&nbsp; このプロンプトを編集する
        </a>
      </div>
    </div>
  </div>

  <!--     *********     Detail info     *********      -->
  <div class="section section-nude">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="section-description">
            <h2 class="title text-center">プロンプトの説明</h2>
            <div class="ql-editor">
              <div
                [innerHTML]="
                  sanitizer.bypassSecurityTrustHtml(prompt.description)
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="prompt.example">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="section-description">
            <h2 class="title text-center">出力例</h2>
            <div class="ql-editor">
              <div
                class="text"
                [innerHTML]="sanitizer.bypassSecurityTrustHtml(prompt.example)"
                [ngClass]="{
                  'gradient-text': isLongTextString,
                  'full-text': isFullTextShown
                }"
              ></div>
              <div class="text-center">
                <button
                  *ngIf="isLongTextString"
                  class="btn btn-primary btn-link btn-lg"
                  (click)="toggleFullText()"
                >
                  {{ isFullTextShown ? "閉じる" : "もっと見る" }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="prompt.usage">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="section-description">
            <h2 class="title text-center">利用手順</h2>
            <p class="title">{{ prompt.usage }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********     Prompt     *********      -->
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">プロンプト（指令文）</h2>
      <app-code-snippet [prompt]="prompt"></app-code-snippet>
    </div>
  </div>

  <!--     *********     Comments      *********      -->
  <app-prompt-detail-comment [comments]="comments"></app-prompt-detail-comment>

  <!--     *********     Recommends      *********      -->
  <div class="section section-nude">
    <div class="container">
      <app-prompt-list-latest></app-prompt-list-latest>
    </div>
  </div>
</div>
