<div class="wrapper" *ngIf="prompt">
  <div
    class="page-header page-header-small"
    [ngStyle]="{
      'background-image':
        'url(' +
        (prompt.image ? prompt.image : './assets/img/image_placeholder.jpg') +
        ')'
    }"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <h1 class="title">
          {{ prompt.name }}<br />
          <small>プロンプト</small><br />
        </h1>
        <a
          class="btn btn-link btn-lg btn-neutral"
          [routerLink]="['/user', prompt.user._id]"
        >
          {{ prompt.user.name }}
        </a>
      </div>
      <div *ngIf="auth.isAuthenticated()" class="text-center">
        <div *ngIf="!isMine()">
          <button
            *ngIf="!isBookmarked"
            (click)="addBookmark()"
            [disabled]="isClicked"
            class="btn btn-primary btn-round"
          >
            <i class="fa fa-heart"></i> お気に入り追加
          </button>
          <button
            *ngIf="isBookmarked"
            (click)="deleteBookmark()"
            [disabled]="isClicked"
            class="btn btn-neutral btn-round"
          >
            <i class="fa fa-heart"></i> お気に入りから削除
          </button>
        </div>
        <a
          *ngIf="isMine()"
          class="btn btn-primary btn-round"
          [routerLink]="['/prompt/edit', prompt._id]"
        >
          <i class="fa fa-pencil"></i> このプロンプトを編集する
        </a>
      </div>
    </div>
  </div>

  <!--     *********     Detail info     *********      -->
  <div class="section section-nude">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="section-description text-center">
            <h2 class="title">プロンプトの説明</h2>
            <div class="ql-editor">
              <div
                [innerHTML]="
                  sanitizer.bypassSecurityTrustHtml(prompt.description)
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********     Prompt     *********      -->
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">プロンプト</h2>
      <!-- <h4 class="blur ban_select">プロンプトコード</h4> -->
      <app-code-snippet [prompt]="prompt"></app-code-snippet>
    </div>
  </div>

  <!--     *********     Comments      *********      -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title text-center">コメント(10)</h2>
          <div class="media-area">
            <div class="media media-post">
              <a class="pull-left author" href="javascript:void(0)">
                <div class="avatar">
                  <img
                    class="media-object"
                    alt="64x64"
                    src="assets/img/placeholder.png"
                  />
                </div>
              </a>
              <div class="media-body">
                <textarea
                  class="form-control"
                  placeholder="Write a nice reply or go home..."
                  rows="4"
                ></textarea>
                <div class="media-footer">
                  <a
                    href="javascript:void(0)"
                    class="btn btn-primary pull-right"
                    >コメントする</a
                  >
                </div>
              </div>
            </div>

            <!-- end media -->
            <div class="media">
              <a class="pull-left" href="javascript:void(0)">
                <div class="avatar">
                  <img
                    class="media-object"
                    alt="64x64"
                    src="assets/img/placeholder.png"
                  />
                </div>
              </a>
              <div class="media-body">
                <h5 class="media-heading">Bon</h5>
                <div class="pull-right">
                  <h6 class="text-muted">2024/01/13 12:22</h6>
                </div>
                <p>
                  プロンプトがいっぱい集まってくれて嬉しい<br />Don't forget,
                  You're Awesome!
                </p>
                <div class="media-footer">
                  <a
                    href="javascript:void(0)"
                    class="btn btn-primary btn-link pull-right"
                  >
                    <i class="fa fa-reply"></i>返信する</a
                  >
                  <a href="javascript:void(0)" class="btn btn-link pull-right">
                    <i class="fa fa-flag"></i>報告する</a
                  >
                </div>
              </div>
            </div>
            <!-- end media -->
            <div class="media">
              <a class="pull-left" href="javascript:void(0)">
                <div class="avatar">
                  <img
                    class="media-object"
                    alt="64x64"
                    src="assets/img/placeholder.png"
                  />
                </div>
              </a>
              <div class="media-body">
                <h5 class="media-heading">Banks</h5>
                <div class="pull-right">
                  <h6 class="text-muted">2023/12/15 10:22</h6>
                </div>
                <p>
                  Hello guys, nice to have you on the platform! There will be a
                  lot of great stuff coming soon. We will keep you posted for
                  the latest news.<br />Don't forget, You're Awesome!
                </p>
                <div class="media-footer">
                  <a
                    href="javascript:void(0)"
                    class="btn btn-primary btn-link pull-right"
                  >
                    <i class="fa fa-reply"></i>返信する</a
                  >
                  <a href="javascript:void(0)" class="btn btn-link pull-right">
                    <i class="fa fa-flag"></i>報告する</a
                  >
                </div>
              </div>
            </div>
            <!-- end media -->
            <br />
            <div
              class="pagination-area pagination-primary justify-content-center"
            >
              <ngb-pagination
                [collectionSize]="50"
                [(page)]="page"
                aria-label="Default pagination"
              ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
