<div class="wrapper" *ngIf="prompt">
  <div
    class="page-header page-header-small"
    [ngStyle]="{
      'background-image':
        'url(assets/img/thumbnail/' + prompt.categories[0].id + '.jpg)'
    }"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <!-- <div class="space-top"></div> -->

        <h1 class="title">
          <a
            class="btn btn-link btn-neutral author"
            [routerLink]="['/user', prompt.user._id]"
          >
            <img
              class="avatar header-avatar"
              [src]="
                prompt.user.image
                  ? prompt.user.image
                  : prompt.user.prompts.length < 1
                  ? './assets/icons/1.png'
                  : prompt.user.prompts.length < 5
                  ? './assets/icons/2.png'
                  : prompt.user.prompts.length < 12
                  ? './assets/icons/3.png'
                  : prompt.user.prompts.length < 20
                  ? './assets/icons/4.png'
                  : './assets/icons/5.png'
              "
            />
            {{ prompt.user.name }} が作った
          </a>
          <br />
          {{ prompt.name }}<br />
          <small>プロンプト</small><br />
        </h1>
      </div>
      <div *ngIf="auth.isAuthenticated()">
        <div *ngIf="!isMine()">
          <button
            *ngIf="!isBookmarked"
            (click)="addBookmark()"
            [disabled]="isClicked"
            class="btn btn-primary btn-round"
          >
            <i class="nc-icon nc-favourite-28"></i>&nbsp; お気に入りへ追加
          </button>
          <button
            *ngIf="isBookmarked"
            (click)="deleteBookmark()"
            [disabled]="isClicked"
            class="btn btn-neutral btn-round"
          >
            <i class="nc-icon nc-favourite-28"></i>&nbsp; お気に入りから削除
          </button>
        </div>
        <a
          *ngIf="isMine()"
          class="btn btn-primary btn-round"
          [routerLink]="['/prompt/edit', prompt._id]"
        >
          <i class="fa fa-pencil"></i>&nbsp; このプロンプトを編集する
        </a>
      </div>
    </div>
  </div>

  <!--     *********     Detail info     *********      -->
  <div class="section section-nude">
    <div class="container">
      <h2 class="title text-center">このプロンプトの説明</h2>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(prompt.description)"
          ></div>
        </div>
      </div>
      <div *ngIf="prompt.usage" class="text-center">
        <h2 class="title">ChatGPTでの送信手順</h2>
        <p>{{ prompt.usage }}</p>
        <a
          class="btn btn-success btn-link btn-lg"
          [routerLink]="['/blog/how-to-use-chatgpt']"
        >
          初めてChatGPTを使う方はこちら
        </a>
      </div>
    </div>
  </div>

  <!--     *********     Prompt     *********      -->
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">プロンプト（指令文）</h2>
      <p *ngIf="!auth.isAuthenticated()" class="description">
        ログイン後にプロンプトが使えるようになります
      </p>
      <p *ngIf="auth.isAuthenticated()" class="description">
        コピーボタンを押してからChatGPTにペーストしよう
      </p>

      <app-code-snippet [prompt]="prompt"></app-code-snippet>
      <button
        class="btn btn-twitter btn-round mb-2"
        (click)="shareTwitter()"
        target="_blank"
      >
        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>&nbsp;
        Twitterでシェアする
      </button>
    </div>
  </div>

  <div class="section section-nude">
    <div class="container text-center">
      <button
        class="btn btn-round mt-2"
        (click)="isFullTextShown = true"
        (click)="windowOpen(OutputSample)"
      >
        このプロンプトを使った際のChatGPTからの応答例
      </button>
    </div>
  </div>

  <!--     *********     Comments      *********      -->
  <div class="section section-nude">
    <div class="container">
      <app-prompt-detail-comment
        [comments]="comments"
        [foundUser]="foundUser"
      ></app-prompt-detail-comment>
    </div>
  </div>

  <!--     *********     Recommends      *********      -->
  <div class="section section-nude">
    <div class="container">
      <app-prompt-detail-others [user]="prompt.user"></app-prompt-detail-others>
      <app-prompt-list-latest></app-prompt-list-latest>
    </div>
  </div>
</div>
<!--     *********    Corner Button    *********      -->
<app-guide-button></app-guide-button>

<ng-template #OutputSample let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">以下は応答例です</h4>
    <button class="close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div
      id="text"
      [innerHTML]="sanitizer.bypassSecurityTrustHtml(prompt.example)"
      [ngClass]="{
        'gradient-text': isLongTextString,
        'full-text': isFullTextShown
      }"
    ></div>
    <div class="text-center">
      <button
        *ngIf="isLongTextString && !isFullTextShown"
        class="btn btn-primary btn-link btn-lg"
        (click)="isFullTextShown = true"
      >
        もっと見る
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary btn-link"
      (click)="c('Close click')"
    >
      閉じる
    </button>
  </div>
</ng-template>

<ng-template #Notice let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">タヌキからのお知らせ</h4>
    <button class="close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ foundUser.name }}さん、登録してくれてありがとう！</p>
    <p>
      早速<br />
      <strong>「STEP1 プロンプトをコピーする」</strong>ボタンを押してから<br />
      <strong>「STEP2 ChatGPTでペーストする」</strong>ボタンを押すことで
    </p>
    <p>
      プロンプトをコピーした状態でChatGPTのページへ移動できるので、移動したらプロンプトをペーストして遊んでみてね！
    </p>
    <p>
      詳しい説明は画面の右下にあるタヌキの顔を押すことでいつでも使い方の説明ページに飛べるよ。
    </p>
    <div class="card card-plain text-center">
      <div class="card-img-top">
        <a href="https://chat.openai.com/">
          <img class="img" src="./assets/icons/2.png" />
        </a>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary btn-link"
      (click)="c('Close click')"
    >
      閉じる
    </button>
  </div>
</ng-template>
