h1 {
  small {
    color: #fff;
    line-height: 0;
    font-size: 70%;
  }
}

h1.title {
  margin-bottom: 7px;
}

h2.title {
  margin-bottom: 10px;
}

.author {
  font-size: 0.5em;
}

.header-avatar {
  width: 40px;
  height: 40px;
}

.font-small {
  font-size: 90%;
}

h3.modal-title {
  margin: 0;
}

.card {
  margin-bottom: 0;
}

// .modal-footer .btn-link {
//   padding: 0;
// }
