.row {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.card {
  min-width: 260px; // For Price card height.
  &.no-shadow {
    box-shadow: none;
  }

  img {
    border-radius: initial;
    background-color: #fffcf6;
  }
}

.card-pricing .card-title {
  margin-top: 0px !important;
}

.card-pricing ul li {
  font-size: 18px;
}

.badge-pill {
  display: block;
  font-size: 1.05em;
  border-radius: 2px;
}
