<div class="wrapper">
  <div
    class="page-header page-header-xs settings-background"
    style="background-image: url('./assets/img/bg/tressure-map.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-top"></div>
        <h1 class="title">初めての使い方ガイド</h1>
        <h5 class="description">Users first guide</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="space-top"></div>
    ああああ
  </div>
</div>
