<div class="wrapper">
  <div
    class="page-header page-header-xs settings-background"
    style="background-image: url('./assets/img/bg/tressure-map.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <h1 class="title">初めての使い方ガイド</h1>
        <h5 class="description">Users first guide</h5>
      </div>
    </div>
  </div>
  <div class="section section-nude">
    <div class="container">
      <div class="project-pills">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeTab"
          type="pills"
          class="nav nav-pills nav-pills-primary justify-content-center"
        >
          <li [ngbNavItem]="1">
            <a ngbNavLink>パソコンの場合</a>
            <ng-template ngbNavContent>
              <h3 class="text-center">パソコンの場合</h3>
              <div class="container">
                <div class="row">
                  <div class="col-md-6 ml-auto mr-auto text-center title">
                    <h2>好きなプロンプトを試す</h2>
                    <h3 class="title-uppercase">
                      <small
                        >「あつまれ！GPTプロンプト」でプロンプトをコピーすることによって、自分のChatGPTで様々なプロンプトを使うことができます。<br />手順は以下の通りです。</small
                      >
                    </h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                    <!-- step1 -->
                    <div class="">
                      <div class="text-center">
                        <span class="label main-tag text-primary"
                          >ステップ1</span
                        >
                        <a href="javascrip: void(0);">
                          <h3 class="title">会員登録をする</h3></a
                        >
                      </div>
                      <p class="image-thumb text-center">
                        <a>トップページ</a
                        >の右上にある「ログイン」ボタンをクリック。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step1-1.jpg');
                          height: 170px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        ポップアップの下にある「新規会員登録はこちら」をクリック。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step1-2.jpg');
                          background-position: center;
                          height: 260px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        メールアドレス、パスワードを入力して規約に同意後に「会員登録する」をクリック。<br />
                        これで会員登録完了！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step1-3.jpg');
                          background-position: center;
                          height: 270px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                    </div>
                    <!-- step2 -->
                    <div class="">
                      <div class="space-top"></div>
                      <div class="text-center">
                        <span class="label main-tag text-primary"
                          >ステップ2</span
                        >
                        <a href="javascrip: void(0);">
                          <h3 class="title">プロンプトをコピーする</h3></a
                        >
                      </div>
                      <p class="image-thumb text-center">
                        <a>トップページ</a>でプロンプトカードをクリック。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step2-1.jpg');
                          height: 270px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        プロンプトのコピーするボタンをクリック。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step2-2.jpg');
                          background-position: center;
                          height: 260px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        コピーしました！と表示が出たらコピーが完了！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step2-3.jpg');
                          background-position: center;
                          height: 270px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        すぐ下にある緑のボタンからChatGPTにアクセス！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step2-4.jpg');
                          background-position: center;
                          height: 220px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                    </div>
                    <!-- step3 -->
                    <div class="">
                      <div class="text-center">
                        <span class="label main-tag text-primary"
                          >ステップ3</span
                        >
                        <a href="javascrip: void(0);">
                          <h3 class="title">GPTに貼り付け（ペースト）</h3></a
                        >
                      </div>
                      <p class="image-thumb text-center">
                        <a>chatGPT</a
                        >にログインしてチャット部分に貼り付ける。<br />
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step3-1.jpg');
                          height: 270px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <!-- <p class="image-thumb text-center">
                        コピーしたプロンプトにはコメントを残そう！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/bg/tressure-map.jpg');
                          background-position: center;
                          height: 400px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div> -->
                      <div class="text-center">
                        <h3>\ 早速プロンプトを試そう /</h3>
                        <a
                          [routerLink]="['/register']"
                          class="btn btn-lg btn-primary btn-round"
                        >
                          新規会員登録へ
                        </a>
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 ml-auto mr-auto text-center title">
                    <h2>プロンプトを登録する</h2>
                    <h3 class="title-uppercase">
                      <small
                        >プロンプトを登録することによって、プロンプトノートが作成されます。<br />手順は以下の通りです。</small
                      >
                    </h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                    <!-- step1 -->
                    <div class="">
                      <div class="text-center">
                        <span class="label main-tag text-primary"
                          >ステップ1</span
                        >
                        <a href="javascrip: void(0);">
                          <h3 class="title">会員登録をする</h3></a
                        >
                      </div>
                      <p class="image-thumb text-center">
                        <a>トップページ</a
                        >の右上にある「ログイン」ボタンをクリック。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step1-1.jpg');
                          height: 170px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        ポップアップの下にある「新規会員登録はこちら」をクリック。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step1-2.jpg');
                          background-position: center;
                          height: 260px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        メールアドレス、パスワードを入力して規約に同意後に「会員登録する」をクリック。<br />
                        これで会員登録完了！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step1-3.jpg');
                          background-position: center;
                          height: 270px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                    </div>
                    <!-- step2 -->
                    <div class="">
                      <div class="space-top"></div>
                      <div class="text-center">
                        <span class="label main-tag text-primary"
                          >ステップ2</span
                        >
                        <a href="javascrip: void(0);">
                          <h3 class="title">プロンプトを登録する</h3></a
                        >
                        <p class="image-thumb">
                          マイページで「登録済プロンプト」をクリック。<br />
                          登録済プロンプトの下にある「追加する」ボタンをクリック。
                        </p>
                      </div>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step2-register-1.jpg');
                          height: 270px;
                          max-width: 100%;
                          background-position: center;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        プロンプトの情報を入力する。<br />
                        入力ができたら「公開」ボタンをクリック。<br />
                        ※非公開にしたい場合は「下書き」をクリック。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step2-register-2.jpg');
                          background-position: center;
                          height: 270px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        公開しました！と表示が出たら公開完了！<br />
                        Xやnoteで公開したことをシェアしよう！
                      </p>
                      <!-- <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/bg/tressure-map.jpg');
                          background-position: center;
                          height: 400px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div> -->
                      <div class="space-top"></div>
                      <div class="text-center">
                        <h3>\ 早速プロンプトを公開してみよう /</h3>
                        <a
                          [routerLink]="['/register']"
                          class="btn btn-lg btn-primary btn-round"
                        >
                          新規会員登録へ
                        </a>
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink> スマホの場合 </a>
            <ng-template ngbNavContent>
              <h3 class="text-center">スマホの場合</h3>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center title">
                    <h2>好きなプロンプトを試す</h2>
                    <h3 class="title-uppercase">
                      <small
                        >「あつまれ！GPTプロンプト」でプロンプトをコピーすることによって、自分のChatGPTで様々なプロンプトを使うことができます。<br />手順は以下の通りです。</small
                      >
                    </h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                    <!-- step1 -->
                    <div class="">
                      <div class="text-center">
                        <span class="label main-tag text-primary"
                          >ステップ1</span
                        >
                        <a href="javascrip: void(0);">
                          <h3 class="title">会員登録をする</h3></a
                        >
                      </div>
                      <p class="image-thumb text-center">
                        <a>トップページ</a
                        >の右上にある3本線をタップし「ログイン」ボタンをタップ。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step1-1.jpg');
                          height: 350px;
                          width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        右側に表示された「ログイン」をタップ。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step1-2.jpg');
                          background-position: center;
                          height: 350px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        ポップアップの下にある<br />「新規会員登録はこちら」をタップ。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step1-3.jpg');
                          background-position: center bottom;
                          height: 450px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        メールアドレス、パスワードを入力して規約に同意後に「会員登録する」をタップ。<br />
                        これで会員登録完了！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step1-4.jpg');
                          background-position: center bottom;
                          height: 300px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                    </div>
                    <!-- step2 -->
                    <div class="">
                      <div class="space-top"></div>
                      <div class="text-center">
                        <span class="label main-tag text-primary"
                          >ステップ2</span
                        >
                        <a href="javascrip: void(0);">
                          <h3 class="title">プロンプトをコピーする</h3></a
                        >
                      </div>
                      <p class="image-thumb text-center">
                        <a>トップページ</a>でプロンプトカードをタップ。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step2-1.jpg');
                          height: 390px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        プロンプトのコピーするボタンをタップ。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step2-2.jpg');
                          background-position: center;
                          height: 400px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        コピーしました！と表示が出たらコピーが完了！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step2-3.jpg');
                          height: 400px;
                          max-width: 100%;
                          background-size: cover;
                          background-position: center;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        すぐ下にある緑のボタンからChatGPTにアクセス！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step2-4.jpg');
                          height: 400px;
                          max-width: 100%;
                          background-size: cover;
                          background-position: center;
                        "
                      ></div>
                    </div>
                    <!-- step3 -->
                    <div class="">
                      <div class="text-center">
                        <span class="label main-tag text-primary"
                          >ステップ3</span
                        >
                        <a href="javascrip: void(0);">
                          <h3 class="title">GPTに貼り付け（ペースト）</h3></a
                        >
                      </div>
                      <p class="image-thumb text-center">
                        ChatGPTにログインしてチャット部分に貼り付ける。<br />
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step3-1.jpg');
                          height: 400px;
                          max-width: 100%;
                          background-size: cover;
                          background-position: bottom;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <!-- <p class="image-thumb text-center">
                        コピーしたプロンプトにはコメントを残そう！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/bg/tressure-map.jpg');
                          height: 400px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div> -->
                      <div class="text-center">
                        <h3>\ 早速プロンプトを試そう /</h3>
                        <a
                          [routerLink]="['/register']"
                          class="btn btn-lg btn-primary btn-round"
                        >
                          新規会員登録へ
                        </a>
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 ml-auto mr-auto text-center title">
                    <h2>プロンプトを登録する</h2>
                    <h3 class="title-uppercase">
                      <small
                        >プロンプトを登録することによって、プロンプトノートが作成されます。<br />手順は以下の通りです。</small
                      >
                    </h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                    <!-- step1 -->
                    <div class="">
                      <div class="text-center">
                        <span class="label main-tag text-primary"
                          >ステップ1</span
                        >
                        <a href="javascrip: void(0);">
                          <h3 class="title">会員登録をする</h3></a
                        >
                      </div>
                      <p class="image-thumb text-center">
                        <a>トップページ</a
                        >の右上にある3本線をタップし「ログイン」ボタンをタップ。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step1-1.jpg');
                          height: 350px;
                          width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        右側に表示された「ログイン」をタップ。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step1-2.jpg');
                          background-position: center;
                          height: 350px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        ポップアップの下にある<br />「新規会員登録はこちら」をタップ。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step1-3.jpg');
                          background-position: center bottom;
                          height: 450px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        メールアドレス、パスワードを入力して規約に同意後に「会員登録する」をタップ。<br />
                        これで会員登録完了！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step1-4.jpg');
                          background-position: center bottom;
                          height: 300px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                    </div>
                    <!-- step2 -->
                    <div class="">
                      <div class="space-top"></div>
                      <div class="text-center">
                        <span class="label main-tag text-primary"
                          >ステップ2</span
                        >
                        <a href="javascrip: void(0);">
                          <h3 class="title">プロンプトを登録する</h3></a
                        >
                        <p class="image-thumb">
                          マイページで「登録済プロンプト」をタップ。<br />
                          登録済プロンプトの下にある「追加する」ボタンをタップ。
                        </p>
                      </div>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/sp/step2-register-1.jpg');
                          height: 400px;
                          max-width: 100%;
                          background-position: center bottom;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <p class="image-thumb text-center">
                        プロンプトの情報を入力する。<br />
                        入力ができたら「公開」ボタンをタップ。<br />
                        ※非公開にしたい場合は「下書き」をタップ。
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/tutorial/pc/step2-register-2.jpg');
                          background-position: center;
                          height: 400px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div>
                      <!-- <p class="image-thumb text-center">
                        公開しました！と表示が出たら公開完了！<br />
                        Xやnoteで公開したことをシェアしよう！
                      </p>
                      <div
                        class="card"
                        data-radius="none"
                        style="
                          background-image: url('./assets/img/bg/tressure-map.jpg');
                          background-position: center;
                          height: 400px;
                          max-width: 100%;
                          background-size: cover;
                        "
                      ></div>
                      <div class="space-top"></div> -->
                      <div class="text-center">
                        <h4>\ プロンプトを公開してみよう /</h4>
                        <a
                          [routerLink]="['/register']"
                          class="btn btn-lg btn-primary btn-round"
                        >
                          新規会員登録へ
                        </a>
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
