<div
  class="page-header page-header-small"
  data-parallax="true"
  style="background-image: url('./assets/img/bg/tressure-map.jpg')"
>
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="space-50"></div>
      <h1 class="title">好きなプロンプトを手に入れよう</h1>
      <!-- <h3 class="description">\ 起業・経営者 マッチングアプリ /</h3> -->
      <h3 class="description">\ キーワードでプロンプト検索！ /</h3>
      <div class="space-top"></div>
      <app-searchbar (event)="filterByname($event)"></app-searchbar>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <ng-container *ngFor="let rental of rentals">
          <div class="col-sm-6 col-lg-3">
            <app-rental-list-item [rental]="rental"></app-rental-list-item>
          </div>
        </ng-container>
      </div>
      <div class="space-top"></div>
      <div
        class="pagination-area pagination-primary justify-content-center text-center"
      >
        <ngb-pagination
          [collectionSize]="pageCollectionSize"
          [(page)]="pageIndex"
          [pageSize]="pageSize"
          [maxSize]="5"
          [boundaryLinks]="true"
          aria-label="Default pagination"
          (pageChange)="pageChange()"
        ></ngb-pagination>
      </div>
    </div>
  </div>

  <!--     *********    CALL TO ACTION    *********      -->
  <ng-container
    *ngIf="!auth.isAuthenticated() || auth.getUserRole() === 'User'"
  >
    <div class="separator"></div>
    <div class="subscribe-line">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8">
            <h3>プロンプト登録しませんか？</h3>
            <h5>自分専用のプロンプトノートが作れます</h5>
          </div>
          <div class="col-md-3 col-sm-4">
            <br />
            <a
              [routerLink]="['/register']"
              class="btn btn-round btn-lg btn-block btn-primary"
              >プロンプトノートを作る</a
            >
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
