<h3>カテゴリから探す</h3>
<br />
<div class="row">
  <div class="col-md-12">
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '語学', page: 1 }"
      (click)="emit('語学')"
    >
      語学
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'メール・文章作成・要約', page: 1 }"
      (click)="emit('メール・文章作成・要約')"
    >
      メール・文章作成・要約
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '資料作成', page: 1 }"
      (click)="emit('資料作成')"
    >
      資料作成
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'コーチング・メンタリング', page: 1 }"
      (click)="emit('コーチング・メンタリング')"
    >
      コーチング・メンタリング
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'プログラミング', page: 1 }"
      (click)="emit('プログラミング')"
    >
      プログラミング
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'アイデア・企画', page: 1 }"
      (click)="emit('アイデア・企画')"
    >
      アイデア・企画
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'マーケティング・SEO対策・戦略', page: 1 }"
      (click)="emit('マーケティング・SEO対策・戦略')"
    >
      マーケティング・SEO対策・戦略
    </a>
    <!-- <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'ロールプレイ', page: 1 }"
      (click)="emit()"
    >
      ロールプレイ
    </a> -->
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '占い', page: 1 }"
      (click)="emit('占い')"
    >
      占い
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'その他', page: 1 }"
      (click)="emit('その他')"
    >
      その他
    </a>
  </div>
</div>
