<h3>カテゴリから探す</h3>
<br />
<div class="row">
  <div class="col-md-12">
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '要約', page: 1 }"
    >
      要約
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '語学', page: 1 }"
    >
      語学
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '文章作成・ブログ関連', page: 1 }"
    >
      文章作成・ブログ関連
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '資料作成', page: 1 }"
    >
      資料作成
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'コーチング・コンサルタント', page: 1 }"
    >
      コーチング・コンサルタント
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'プログラミング', page: 1 }"
    >
      プログラミング
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '金融', page: 1 }"
    >
      金融
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'アイデア・企画', page: 1 }"
    >
      アイデア・企画
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'マーケティング・データ分析・統計', page: 1 }"
    >
      マーケティング・データ分析・統計
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'ロールプレイ', page: 1 }"
    >
      ロールプレイ
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '法律・規約関連', page: 1 }"
    >
      法律・規約関連
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '生活・エンタメ', page: 1 }"
    >
      生活・エンタメ
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: '占い', page: 1 }"
    >
      占い
    </a>
    <a
      type="button"
      class="btn btn-sm btn-outline-primary btn-round mr-2 mb-2"
      [routerLink]="['/prompt']"
      [queryParams]="{ keywords: 'その他', page: 1 }"
    >
      その他
    </a>
  </div>
</div>
