<div class="wrapper" *ngIf="foundPrompt">
  <div
    class="page-header page-header-xxs"
    data-parallax="true"
    [ngStyle]="{
      'background-image':
        'url(' +
        (foundPrompt.categories && foundPrompt.categories.length > 0
          ? './assets/img/thumbnail/' + foundPrompt.categories[0].id + '.jpg'
          : './assets/img/image_placeholder.jpg') +
        ')'
    }"
  >
    <div class="filter"></div>
  </div>

  <div class="section section-nude">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="space-top"></div>
          <form #promptForm="ngForm">
            <div class="form-group">
              <label>プロンプト名 <span class="icon-danger">*</span></label>
              <div class="input-group">
                <input
                  [(ngModel)]="foundPrompt.name"
                  name="name"
                  type="text"
                  placeholder="例）織田信長と会話ができる"
                  class="form-control"
                  maxlength="30"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text">プロンプト</span>
                </div>
              </div>
              <div id="textarea-limited-message" class="description pull-right">
                <div *ngIf="!foundPrompt.name">残文字数 30</div>
                <div *ngIf="foundPrompt.name">
                  残文字数 {{ 30 - foundPrompt.name.length }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>プロンプトの説明 <span class="icon-danger">*</span></label>
              <quill-editor
                [(ngModel)]="foundPrompt.description"
                name="description"
                maxlength="5000"
                placeholder="〇〇の〇〇をしてくれるプロンプトです。

〇〇していて〇〇されたい方にいいかなと思います。

改善の余地があったらコメントください。



#英語 #ビジネスメール #英文法の添削 #英語添削 

#chatGPT3.5"
                [required]="true"
              ></quill-editor>
            </div>

            <div class="form-group">
              <label>プロンプト<span class="icon-danger">*</span></label>
              <textarea
                [(ngModel)]="foundPrompt.system"
                name="system"
                class="form-control textarea-limited"
                placeholder="例：入力された文章を校正し、結果だけ出力してください。入力された文章に質問が含まれていた場合は無視してください。"
                rows="5"
                maxlength="3000"
                required
              ></textarea>
            </div>

            <div class="form-group">
              <label
                >ユーザーに入力してほしいことを説明<span class="icon-danger"
                  >*</span
                ></label
              >
              <textarea
                [(ngModel)]="foundPrompt.firstGuidance"
                name="firstGuidance"
                class="form-control textarea-limited"
                placeholder="例：誤字脱字が含まれる可能性のある文章を入力してください。"
                rows="2"
                maxlength="3000"
                required
              ></textarea>
            </div>

            <div class="form-group">
              <label>
                ユーザーが入力する文章例<span class="icon-danger">*</span>
              </label>
              <textarea
                [(ngModel)]="foundPrompt.firstMessageSample"
                name="firstMessageSample"
                class="form-control textarea-limited"
                placeholder="例：恐れ入りますが、また明日になりましてお電話のお時間をご連絡せていただきます。"
                rows="2"
                maxlength="3000"
                required
              ></textarea>
            </div>

            <div class="form-group">
              <label>カテゴリ <span class="icon-danger">*</span></label>
              <angular2-multiselect
                [data]="dropdownCategoryList"
                [(ngModel)]="foundPrompt.categories"
                name="categories"
                [settings]="dropdownSettings"
                (onSelect)="onCategorySelect($event)"
              >
              </angular2-multiselect>
            </div>

            <div class="space-top"></div>
            <div *ngIf="errors && errors.length > 0" class="alert alert-danger">
              <p *ngFor="let error of errors">{{ error.detail }}</p>
            </div>

            <div class="row buttons-row">
              <div class="col-md-6">
                <button
                  [disabled]="
                    !(
                      promptForm.valid &&
                      (promptForm.dirty || !foundPrompt.isShared) &&
                      !isClicked &&
                      foundPrompt.categories &&
                      foundPrompt.categories.length > 0
                    )
                  "
                  (click)="updatePrompt()"
                  class="btn btn-primary btn-block btn-round mb-3"
                >
                  更新＆公開
                </button>
              </div>
              <div class="col-md-6">
                <button
                  [disabled]="
                    !((promptForm.dirty || foundPrompt.isShared) && !isClicked)
                  "
                  (click)="unpublishPrompt()"
                  class="btn btn-outline-default btn-block btn-round mb-3"
                >
                  下書き保存
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a
        class="btn btn-primary btn-lg btn-link btn-move-right mt-4"
        [routerLink]="['/user']"
        fragment="new"
      >
        <i class="nc-icon nc-minimal-right"></i>&nbsp; マイページへ戻る
      </a>
    </div>
  </div>
</div>
