<div class="row">
  <div *ngFor="let bookmark of bookmarks" class="col-6 col-sm-4">
    <a routerLink="/prompt/{{ bookmark._id }}">
      <div
        class="card"
        data-background="image"
        [ngStyle]="{
          'background-image':
            'url(assets/img/thumbnail/' + bookmark.categories[0].id + '.jpg)'
        }"
      >
        <div class="card-body">
          <h6 class="card-category">
            <i class="fa fa-newspaper-o"></i>
            {{ bookmark.categories[0].itemName }}
          </h6>
          <h5 class="card-title">{{ bookmark.name }}</h5>
          <h5 class="card-title"><small>プロンプト</small></h5>
        </div>
        <div class="card-footer">
          <div class="author">
            <img
              [src]="
                bookmark.user.image
                  ? bookmark.user.image
                  : './assets/img/placeholder.png'
              "
              class="avatar img-raised"
            />

            <span>{{ bookmark.user.name }}</span>
          </div>
          <br />
          <div class="stats" *ngIf="bookmark.isBookmarkedFrom">
            <i class="fa fa-heart" aria-hidden="true"></i>
            {{ bookmark.isBookmarkedFrom.length }}
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
