<app-searchbar
  [searchWords]="keywords"
  (event)="filterByName($event)"
></app-searchbar>

<div *ngIf="prompts" class="section section-nude text-center">
  <div class="container" *ngIf="prompts.length > 0">
    <div class="row">
      <div *ngFor="let prompt of prompts" class="col-6 col-md-4">
        <app-list-card [prompt]="prompt"></app-list-card>
      </div>
    </div>
    <div class="space-top"></div>
    <div class="pagination-area pagination-primary justify-content-center">
      <ngb-pagination
        [collectionSize]="pageCollectionSize"
        [(page)]="pageIndex"
        [pageSize]="pageSize"
        [maxSize]="5"
        aria-label="Default pagination"
        (pageChange)="pageChange()"
      ></ngb-pagination>
    </div>
  </div>

  <div class="container" *ngIf="prompts.length === 0">
    <div class="info">
      <div class="icon">
        <i class="nc-icon nc-zoom-split"></i>
      </div>
      <div class="description">
        <h3 class="info-title">見つかりませんでした</h3>
        <p>
          他のキーワードやカテゴリから探してみましょう<br />
          今後も少しずつプロンプトが増えていきます。
        </p>
      </div>
    </div>

    <p>\ 自分のプロンプトを公開しませんか？ /</p>
    <a
      class="btn btn-primary btn-round btn-move-right"
      [routerLink]="auth.isAuthenticated() ? '/user' : '/register'"
    >
      <i class="nc-icon nc-minimal-right"></i>&nbsp; 自作プロンプトを登録する
    </a>
  </div>

  <div class="space-top"></div>
  <div class="container">
    <app-prompt-list-category
      (event)="filterByName($event)"
    ></app-prompt-list-category>
  </div>
</div>
