<div class="wrapper">
  <div
    class="page-header page-header-xxs settings-background"
    style="background-image: url('./assets/img/bg/tressure-map.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="profile-content section section-nude">
    <div class="container" *ngIf="userData">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <div class="profile-picture">
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="fileinput-new img-no-padding">
                <img
                  [src]="
                    userData.image
                      ? userData.image
                      : userData.prompts.length < 1
                      ? './assets/icons/1.png'
                      : userData.prompts.length < 2
                      ? './assets/icons/2.png'
                      : userData.prompts.length < 5
                      ? './assets/icons/3.png'
                      : userData.prompts.length < 10
                      ? './assets/icons/4.png'
                      : './assets/icons/5.png'
                  "
                />
              </div>
              <div class="name">
                <h5>
                  {{ userData.name }}
                  <!-- <br /><small>@tanatao</small> -->
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <p>
            {{ userData.description }}
          </p>
        </div>

        <div class="info info-horizontal">
          <a
            *ngIf="userData.homepage"
            class="icon"
            href="{{ userData.homepage }}"
            target="_blank"
          >
            <i class="fa fa-laptop"></i>
          </a>
          <a
            *ngIf="userData.twitter"
            class="icon"
            href="https://twitter.com/{{ userData.twitter }}"
            target="_blank"
          >
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      <div *ngIf="userData.prompts.length > 0">
        <div class="row">
          <div *ngFor="let prompt of userData.prompts" class="col-6 col-md-4">
            <a [routerLink]="['/prompt', prompt._id]">
              <div
                class="card"
                data-background="image"
                [ngStyle]="{
                  'background-image':
                    'url(assets/img/thumbnail/' +
                    prompt.categories[0].id +
                    '.jpg)'
                }"
              >
                <div class="card-body">
                  <h6 class="card-category">
                    <i class="fa fa-newspaper-o"></i>
                    {{ prompt.categories[0].itemName }}
                  </h6>
                  <h5 class="card-title">{{ prompt.name }}</h5>
                  <h5 class="card-title"><small>プロンプト</small></h5>
                  <div class="card-footer">
                    <div class="author">
                      <img
                        class="avatar img-raised"
                        [src]="
                          userData.image
                            ? userData.image
                            : userData.prompts.length < 1
                            ? './assets/icons/1.png'
                            : userData.prompts.length < 2
                            ? './assets/icons/2.png'
                            : userData.prompts.length < 5
                            ? './assets/icons/3.png'
                            : userData.prompts.length < 10
                            ? './assets/icons/4.png'
                            : './assets/icons/5.png'
                        "
                      />
                      <span>{{ userData.name }}</span>
                    </div>
                    <br />
                    <div class="stats" *ngIf="prompt.isBookmarkedFrom">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      {{ prompt.isBookmarkedFrom.length }}
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- <div class="space-top"></div>
        <div class="pagination-area pagination-primary justify-content-center">
          <ngb-pagination
            [collectionSize]="pageCollectionSize"
            [(page)]="pageIndex"
            [pageSize]="pageSize"
            [maxSize]="5"
            [boundaryLinks]="true"
            aria-label="Default pagination"
            (pageChange)="pageChange()"
          ></ngb-pagination>
        </div> -->
      </div>
    </div>
  </div>
</div>
