<div class="wrapper">
  <div
    class="page-header page-header-xxs settings-background"
    style="background-image: url('./assets/img/bg/tressure-map.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="profile-content section section-nude">
    <div class="container" *ngIf="userData">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <div class="profile-picture">
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="fileinput-new img-no-padding">
                <img
                  [src]="
                    userData.image
                      ? userData.image
                      : userData.prompts.length < 1
                      ? './assets/icons/1.png'
                      : userData.prompts.length < 2
                      ? './assets/icons/2.png'
                      : userData.prompts.length < 5
                      ? './assets/icons/3.png'
                      : userData.prompts.length < 10
                      ? './assets/icons/4.png'
                      : './assets/icons/5.png'
                  "
                />
              </div>
              <div class="name">
                <h5>
                  {{ userData.name }}
                  <!-- <br /><small>@tanatao</small> -->
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <p style="white-space: pre-line">
            {{ userData.description }}
          </p>
        </div>

        <div class="info info-horizontal">
          <a
            *ngIf="userData.homepage"
            class="icon"
            href="{{ userData.homepage }}"
            target="_blank"
          >
            <i class="fa fa-link"></i>
          </a>
          <a
            *ngIf="userData.twitter"
            class="icon"
            href="https://twitter.com/{{ userData.twitter }}"
            target="_blank"
          >
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      <div *ngIf="userData.prompts.length > 0">
        <div class="space-top"></div>
        <div class="row">
          <ng-container *ngFor="let prompt of userData.prompts">
            <div *ngIf="prompt.isShared" class="col-6 col-md-4">
              <a [routerLink]="['/prompt', prompt._id]">
                <div
                  class="card"
                  data-background="image"
                  [ngStyle]="{
                    'background-image':
                      'url(assets/img/thumbnail/' +
                      prompt.categories[0].id +
                      '.jpg)'
                  }"
                >
                  <div class="card-body">
                    <h6 class="card-category">
                      <i class="fa fa-newspaper-o"></i>
                      {{ prompt.categories[0].itemName }}
                    </h6>
                    <h5 class="card-title">{{ prompt.name }}</h5>
                    <h5 class="card-title"><small>プロンプト</small></h5>
                    <div class="card-footer">
                      <div class="author">
                        <img
                          class="avatar img-raised"
                          [src]="
                            userData.image
                              ? userData.image
                              : userData.prompts.length < 1
                              ? './assets/icons/1.png'
                              : userData.prompts.length < 2
                              ? './assets/icons/2.png'
                              : userData.prompts.length < 5
                              ? './assets/icons/3.png'
                              : userData.prompts.length < 10
                              ? './assets/icons/4.png'
                              : './assets/icons/5.png'
                          "
                        />
                        <span>{{ userData.name }}</span>
                      </div>
                      <br />
                      <div
                        class="stats"
                        *ngIf="prompt.comments && prompt.comments.length > 0"
                      >
                        <i class="nc-icon nc-chat-33"></i>&nbsp;
                        {{ prompt.comments.length }}
                      </div>
                      <div
                        class="stats"
                        *ngIf="
                          prompt.isBookmarkedFrom &&
                          prompt.isBookmarkedFrom.length > 0
                        "
                      >
                        <i class="nc-icon nc-favourite-28"></i>&nbsp;
                        {{ prompt.isBookmarkedFrom.length }}
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="space-50"></div>
      <div class="text-center">
        <a
          class="btn btn-primary btn-lg btn-link btn-move-right"
          [routerLink]="['/']"
        >
          <i class="nc-icon nc-minimal-right"></i>&nbsp; トップへ戻る
        </a>
      </div>
    </div>
  </div>
</div>
