<div class="wrapper">
  <div
    class="page-header page-header-xs settings-background"
    style="background-image: url('./assets/img/bg/tressure-map.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-top"></div>
        <h1 class="title">アカウント設定</h1>
        <h5 class="description">Account settings</h5>
      </div>
    </div>
  </div>
  <div class="profile-content section section-nude">
    <div class="container">
      <div class="row">
        <div class="profile-picture">
          <app-image-upload
            [image]="'./assets/img/placeholder.jpg'"
          ></app-image-upload>
        </div>
      </div>
      <div class="row" *ngIf="userData">
        <div class="col-md-6 ml-auto mr-auto">
          <form
            class="settings-form"
            #userForm="ngForm"
            (ngSubmit)="updateUser(userForm)"
          >
            <div class="form-group">
              <label>名前 <span class="icon-danger">*</span></label>
              <input
                type="text"
                class="form-control border-input"
                placeholder="あなたの名前（必須）"
                [(ngModel)]="userData.name"
                name="name"
                required
              />
            </div>
            <div class="form-group">
              <label>Email <span class="icon-danger">*</span></label>
              <input
                type="text"
                class="form-control border-input"
                placeholder="メールアドレス"
                [ngModel]="userData.email"
                name="email"
                required
              />
            </div>

            <div class="form-group">
              <label>自己紹介</label>
              <textarea
                type="text"
                class="form-control textarea-limited"
                placeholder="自分の魅力をPRすることができます。"
                [(ngModel)]="userData.description"
                name="description"
                rows="3"
                maxlength="150"
              ></textarea>
              <h5>
                <small
                  ><span id="textarea-limited-message" class="pull-right"
                    >最大150文字まで</span
                  ></small
                >
              </h5>
            </div>

            <div class="form-group">
              <label>パスワード変更</label>
              <div>
                <a
                  class="btn btn-primary btn-link"
                  [routerLink]="['/user/password']"
                >
                  パスワードを変更する
                </a>
              </div>
            </div>

            <label>通知</label>
            <ul class="notifications">
              <!-- <li class="notification-item">
                                Updates regarding platform changes
                                <bSwitch
                                    [switch-on-color]="'info'"
                                    [switch-off-color]="'info'"
                                    [(ngModel)]="state_info"
                                    name="first_switch">
                                </bSwitch>
                            </li>
                            <li class="notification-item">
                                Updates regarding product changes
                                <bSwitch
                                    [switch-on-color]="'info'"
                                    [switch-off-color]="'info'"
                                    [(ngModel)]="state_info1"
                                    name="second_switch">
                                </bSwitch>
                            </li> -->
              <li class="notification-item">
                ニュースレター＆クーポン
                <bSwitch
                  [(ngModel)]="userData.newsletter"
                  name="newsletter"
                  [switch-on-color]="'primary'"
                  [switch-off-color]="'primary'"
                ></bSwitch>
              </li>
            </ul>
            <div class="space-50"></div>
            <div class="text-center">
              <button
                [disabled]="!(userForm.valid && userForm.dirty)"
                type="submit"
                class="btn btn-lg btn-wd btn-primary"
              >
                更新する
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-link" (click)="logout()">
          ログアウトする
        </button>
      </div>
    </div>
  </div>
</div>
