<h3>新着コメント</h3>
<br />
<owl-carousel-o
  *ngIf="comments"
  [options]="customOptions"
  (dragging)="isDragging = $event.dragging"
>
  <ng-container *ngFor="let comment of comments">
    <ng-template carouselSlide>
      <a
        [owlRouterLink]="['/prompt/', comment.prompt!._id]"
        [stopLink]="isDragging"
      >
        <div class="justify-content-center">
          <div class="chat-tanuki">
            <img src="./assets/icons/2.png" draggable="false" />
            <b class="chat-tanuki-content">
              {{ comment.comment }}
            </b>
          </div>
        </div>
        <p class="text-muted text-center">
          <small
            >"{{ comment.prompt!.name }}プロンプト" にコメントしました</small
          >
        </p>
      </a>
    </ng-template>
  </ng-container>
</owl-carousel-o>
