<div class="fileinput fileinput-new text-center">
  <div [ngClass]="{ 'img-circle': isRound }" class="thumbnail img-no-padding">
    <img src="{{ state.imagePreviewUrl }}" alt="..." />
  </div>
  <div>
    <button
      class="btn btn-outline-default btn-file btn-round"
      (click)="handleClick()"
      *ngIf="!this.state.file"
    >
      プロフィール画像
    </button>
    <button
      class="btn btn-outline-default btn-file btn-round"
      (click)="handleClick()"
      *ngIf="this.state.file"
    >
      変更する
    </button>
    <button
      class="btn btn-link btn-danger"
      (click)="handleRemove()"
      *ngIf="this.state.file"
    >
      <i class="fa fa-times"></i> 削除する
    </button>
  </div>
</div>
