h1 small {
  color: #fff;
  line-height: 0;
  font-size: 75%;
}

// Using in ngb-pagination
.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 66.66%;
  position: relative;
  height: 0;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.pre-wrap {
  white-space: pre-wrap;
}
.blur {
  color: transparent;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.ban_select {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
