<div class="wrapper" *ngIf="rental">
  <div
    class="page-header page-header-xs"
    [ngStyle]="{
      'background-image':
        'url(' +
        (rental.image ? rental.image : './assets/img/image_placeholder.jpg') +
        ')'
    }"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-top"></div>
        <h1 class="title">{{ rental.name }}</h1>
        <h5>{{ rental.cardDescription }}</h5>

        <div class="row">
          <div class="col-md-7 text-left">
            <div class="buttons">
              <a
                *ngIf="rental.instagram"
                href="https://www.instagram.com/{{ rental.instagram }}"
                class="btn btn-neutral btn-link btn-just-icon"
                target="_blank"
                ><i class="fa fa-instagram"></i>
              </a>
              <a
                *ngIf="rental.twitter"
                href="https://twitter.com/{{ rental.twitter }}"
                class="btn btn-neutral btn-link btn-just-icon"
                target="_blank"
                ><i class="fa fa-twitter"></i>
              </a>
              <a
                *ngIf="rental.youtube"
                href="{{ rental.youtube }}"
                class="btn btn-neutral btn-link btn-just-icon"
                target="_blank"
                ><i class="fa fa-youtube"></i>
              </a>
              <a
                *ngIf="rental.facebook"
                href="{{ rental.facebook }}"
                class="btn btn-neutral btn-link btn-just-icon"
                target="_blank"
                ><i class="fa fa-facebook-square"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <!--     *********     Detail info     *********      -->
    <div class="section section-nude" id="detail-of-lessons">
      <div class="container">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="section-description text-center">
            <h2 class="title">概要</h2>
            <p class="description pre-wrap">
              {{ rental.description }}
            </p>
          </div>
        </div>
        <br />
      </div>

      <div class="space-100"></div>
      <div class="blog-1">
        <div class="container">
          <!-- <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="card card-plain card-blog">
                <div class="row">
                  <div class="col-md-8 col-11 ml-auto mr-auto">
                    <div class="card-body">
                      <h6 class="card-category text-primary">Entry course</h6>
                      <h3 class="card-title">
                        {{ rental.course2Title }}
                      </h3>
                      <p class="card-description">
                        {{ rental.course2Description }}
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 col-10 ml-auto mr-auto">
                    <button
                      *ngIf="!auth.isAuthenticated()"
                      (click)="modalLoginOpen()"
                      class="card"
                      data-background="color"
                      data-color="green"
                    >
                      <div class="card-body text-center">
                        <h6 class="card-category">ログイン後に予約できます</h6>
                        <h2 class="card-title">60min</h2>
                        <p class="card-description">
                          60minのパーソナルトレーニングが受けられるチケットです.
                        </p>
                        <div class="card-footer">
                          <div class="btn btn-neutral btn-round">
                            {{ rental.hourlyPrice }}円 / 60分
                          </div>
                        </div>
                      </div>
                    </button>
                    <button
                      *ngIf="isYourRental() && auth.isAuthenticated()"
                      class="card"
                      data-background="color"
                      data-color="gray"
                    >
                      <div class="card-body text-center">
                        <h6 class="card-category">自分のコースは選べません</h6>
                        <h2 class="card-title">60min</h2>
                        <p class="card-description">
                          自分のコースは予約できません
                        </p>
                        <div class="card-footer">
                          <div class="btn btn-neutral btn-round">
                            {{ rental.hourlyPrice }}円 / 60分
                          </div>
                        </div>
                      </div>
                    </button>
                    <button
                      *ngIf="!isYourRental() && auth.isAuthenticated()"
                      (click)="modalBookingOpen(60)"
                      class="card"
                      data-background="color"
                      data-color="green"
                    >
                      <div class="card-body text-center">
                        <h6 class="card-category">このコースを選ぶ</h6>
                        <h2 class="card-title">60min</h2>
                        <p class="card-description">
                          60minのパーソナルトレーニングが受けられるチケットです.
                        </p>
                        <div class="card-footer">
                          <div class="btn btn-neutral btn-round">
                            {{ rental.hourlyPrice }}円 / 60分
                          </div>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!--     *********     Prompt     *********      -->
    <div class="section section-gray text-center">
      <div class="container">
        <h2 class="title">プロンプト</h2>
        <!-- <h4 class="title">{{ rental.memo }}</h4> -->
        <h4 class="title">プロンプトコード</h4>
        <div class="row"></div>
      </div>
    </div>

    <!--     *********     Call to action      *********      -->
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">コメント一覧</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- <app-googlemaps
      [location]="
        rental.province[0].itemName + ', ' + rental.address1 + rental.address2
      "
    ></app-googlemaps> -->
  </div>
  <!-- <app-bottom-navbar [rental]="rental"></app-bottom-navbar> -->
</div>
