<div class="section section-nude">
  <div class="container text-center">
    <button
      (click)="smoothScroll('pricing')"
      class="btn btn-lg btn-primary btn-round"
    >
      今すぐアップグレードする &nbsp;<i class="nc-icon nc-spaceship"></i>
    </button>

    <h1 class="title">プレミアムプランって何ができるの？</h1>
    <div class="space-top"></div>
    <app-payment-plan-manga></app-payment-plan-manga>
  </div>
  <div class="space-top"></div>
  <div class="container text-center">
    <h2>プランを選択</h2>
    <p *ngIf="error" class="alert alert-danger">
      {{ error }}
    </p>
    <div class="row" id="pricing">
      <div class="col-md-12">
        <div class="choose-plan">
          <div class="row" *ngIf="foundUser">
            <div class="space-top"></div>
            <div class="col-md-4">
              <div
                class="card card-pricing"
                [class.selected]="
                  foundUser.isConfirmedPayment && foundUser.billingCycle === 12
                "
              >
                <div class="card-body">
                  <h3 class="card-category text-primary">
                    <span class="text-black">\ 一番お得 /<br /></span>年間プラン
                  </h3>
                  <h2 class="card-title">770円/月<small>(税込)</small></h2>
                  <p>
                    9,240(税込)/年のお支払いになります
                    <br />※契約は自動更新となります
                  </p>
                  <div class="space-top"></div>
                  <button
                    *ngIf="!foundUser.isConfirmedPayment"
                    class="btn btn-lg btn-round"
                    [class.btn-primary]="
                      !(
                        foundUser.isConfirmedPayment &&
                        foundUser.billingCycle === 12
                      )
                    "
                    (click)="
                      priceId = 'price_1P4I3vGvQ0173hUnvachqw9z';
                      billingCycle = 12;
                      openStripeForm(stripeForm)
                    "
                    [disabled]="
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 12
                    "
                  >
                    <i class="nc-icon nc-diamond"></i>&nbsp;
                    {{
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 12
                        ? "現在適用中"
                        : "このプランにする"
                    }}
                  </button>
                  <button
                    *ngIf="foundUser.isConfirmedPayment"
                    class="btn btn-lg btn-round"
                    [class.btn-primary]="
                      !(
                        foundUser.isConfirmedPayment &&
                        foundUser.billingCycle === 12
                      )
                    "
                    (click)="
                      priceId = 'price_1P4I3vGvQ0173hUnvachqw9z';
                      billingCycle = 12;
                      openStripeForm(updateSubscriptionWindow)
                    "
                    [disabled]="
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 12
                    "
                  >
                    <i class="nc-icon nc-diamond"></i>&nbsp;
                    {{
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 12
                        ? "現在適用中"
                        : "このプランに変更"
                    }}
                  </button>
                  <ul>
                    <li>
                      <i class="nc-icon nc-tv-2" aria-hidden="true"></i>&nbsp;
                      <b>広告表示なし</b>
                    </li>
                    <li>
                      <i class="nc-icon nc-delivery-fast" aria-hidden="true"></i
                      >&nbsp; <b>高速文字生成</b>
                    </li>

                    <li>
                      <i class="nc-icon nc-spaceship" aria-hidden="true"></i
                      >&nbsp; <b>利用無制限</b>
                    </li>
                    <li>
                      <i class="nc-icon nc-bulb-63" aria-hidden="true"></i
                      >&nbsp; <b>26円/日</b>で使い放題
                    </li>
                  </ul>
                  <span class="badge badge-pill badge-default mr-1"
                    >最大62%お得なプラン</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="card card-pricing"
                [class.selected]="
                  foundUser.isConfirmedPayment && foundUser.billingCycle === 6
                "
              >
                <div class="card-body">
                  <h3 class="card-category text-primary">
                    <span class="text-black">\ 少しお得 /<br /></span
                    >6ヶ月プラン
                  </h3>
                  <h2 class="card-title">1480円/月<small>(税込)</small></h2>
                  <p>
                    8,880(税込)/半年のお支払いになります
                    <br />※契約は自動更新となります
                  </p>
                  <div class="space-top"></div>
                  <button
                    *ngIf="!foundUser.isConfirmedPayment"
                    class="btn btn-lg btn-round"
                    [class.btn-primary]="
                      !(
                        foundUser.isConfirmedPayment &&
                        foundUser.billingCycle === 6
                      )
                    "
                    (click)="
                      priceId = 'price_1P4I3KGvQ0173hUnKeKoJEHA';
                      billingCycle = 6;
                      openStripeForm(stripeForm)
                    "
                    [disabled]="
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 6
                    "
                  >
                    <i class="nc-icon nc-diamond"></i>&nbsp;
                    {{
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 6
                        ? "現在適用中"
                        : "このプランにする"
                    }}
                  </button>
                  <button
                    *ngIf="foundUser.isConfirmedPayment"
                    class="btn btn-lg btn-round"
                    [class.btn-primary]="
                      !(
                        foundUser.isConfirmedPayment &&
                        foundUser.billingCycle === 6
                      )
                    "
                    (click)="
                      priceId = 'price_1P4I3KGvQ0173hUnKeKoJEHA';
                      billingCycle = 6;
                      openStripeForm(updateSubscriptionWindow)
                    "
                    [disabled]="
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 6
                    "
                  >
                    <i class="nc-icon nc-diamond"></i>&nbsp;
                    {{
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 6
                        ? "現在適用中"
                        : "このプランに変更"
                    }}
                  </button>
                  <ul>
                    <li>
                      <i class="nc-icon nc-tv-2" aria-hidden="true"></i>&nbsp;
                      <b>広告表示なし</b>
                    </li>
                    <li>
                      <i class="nc-icon nc-delivery-fast" aria-hidden="true"></i
                      >&nbsp; <b>高速文字生成</b>
                    </li>

                    <li>
                      <i class="nc-icon nc-spaceship" aria-hidden="true"></i
                      >&nbsp; <b>利用無制限</b>
                    </li>
                    <li>
                      <i class="nc-icon nc-bulb-63" aria-hidden="true"></i
                      >&nbsp; <b>50円/日</b>で使い放題
                    </li>
                  </ul>
                  <span class="badge badge-pill badge-default mr-1"
                    >最大26%お得なプラン</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="card card-pricing"
                [class.selected]="
                  foundUser.isConfirmedPayment && foundUser.billingCycle === 1
                "
              >
                <div class="card-body">
                  <h3 class="card-category text-primary">
                    <span class="text-black">\ 期間限定割引 /<br /></span
                    >1ヶ月プラン
                  </h3>
                  <h2 class="card-title">1980円/月<small>(税込)</small></h2>
                  <p><br />※契約は自動更新となります</p>
                  <div class="space-top"></div>

                  <button
                    *ngIf="!foundUser.isConfirmedPayment"
                    class="btn btn-lg btn-round"
                    [class.btn-primary]="
                      !(
                        foundUser.isConfirmedPayment &&
                        foundUser.billingCycle === 1
                      )
                    "
                    (click)="
                      priceId = 'price_1P4I2IGvQ0173hUnGEZZ4ALj';
                      billingCycle = 1;
                      openStripeForm(stripeForm)
                    "
                    [disabled]="
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 1
                    "
                  >
                    <i class="nc-icon nc-diamond"></i>&nbsp;
                    {{
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 1
                        ? "現在適用中"
                        : "このプランにする"
                    }}
                  </button>
                  <button
                    *ngIf="foundUser.isConfirmedPayment"
                    class="btn btn-lg btn-round"
                    [class.btn-primary]="
                      !(
                        foundUser.isConfirmedPayment &&
                        foundUser.billingCycle === 1
                      )
                    "
                    (click)="
                      priceId = 'price_1P4I2IGvQ0173hUnGEZZ4ALj';
                      billingCycle = 1;
                      openStripeForm(updateSubscriptionWindow)
                    "
                    [disabled]="
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 1
                    "
                  >
                    <i class="nc-icon nc-diamond"></i>&nbsp;
                    {{
                      foundUser.isConfirmedPayment &&
                      foundUser.billingCycle === 1
                        ? "現在適用中"
                        : "このプランに変更"
                    }}
                  </button>
                  <ul>
                    <li>
                      <i class="nc-icon nc-tv-2" aria-hidden="true"></i>&nbsp;
                      <b>広告表示なし</b>
                    </li>
                    <li>
                      <i class="nc-icon nc-delivery-fast" aria-hidden="true"></i
                      >&nbsp; <b>高速文字生成</b>
                    </li>

                    <li>
                      <i class="nc-icon nc-spaceship" aria-hidden="true"></i
                      >&nbsp; <b>利用無制限</b>
                    </li>
                    <li>
                      <i class="nc-icon nc-bulb-63" aria-hidden="true"></i
                      >&nbsp; <b>66円/日</b>で使い放題
                    </li>
                  </ul>
                  <span class="badge badge-pill badge-default mr-1"
                    >期間限定プライス</span
                  >
                </div>
              </div>
            </div>
            <div
              class="col-md-4 mr-auto ml-auto"
              *ngIf="foundUser.isConfirmedPayment"
            >
              <div class="card card-pricing">
                <div class="card-body">
                  <h3 class="card-category">フリープラン</h3>
                  <h2 class="card-title">0円</h2>
                  <div class="space-top"></div>
                  <button
                    class="btn btn-primary btn-lg btn-round"
                    (click)="
                      priceId = '';
                      billingCycle = 0;
                      openStripeForm(cancelSubscriptionWindow)
                    "
                  >
                    このプランに変更
                  </button>
                  <ul>
                    <li>
                      <i class="nc-icon nc-tv-2" aria-hidden="true"></i>&nbsp;
                      <b>広告表示あり</b>
                    </li>
                    <li>
                      <i class="nc-icon nc-delivery-fast" aria-hidden="true"></i
                      >&nbsp; <b>文字生成</b>
                    </li>

                    <li>
                      <i class="nc-icon nc-spaceship" aria-hidden="true"></i
                      >&nbsp;
                      <b>利用制限あり</b>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space-top"></div>
    <app-payment-plan-faq></app-payment-plan-faq>
    <div class="space-50"></div>
  </div>
</div>

<ng-template #stripeForm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button class="close" (click)="d('Cross click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <h3 class="modal-title">決済フォーム画面</h3>
  </div>
  <div class="modal-body">
    <app-payment-plan-pay
      [priceId]="priceId"
      [billingCycle]="billingCycle"
    ></app-payment-plan-pay>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary btn-link"
      (click)="c('Close click')"
    >
      閉じる
    </button>
  </div>
</ng-template>

<ng-template #updateSubscriptionWindow let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button class="close" (click)="d('Cross click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <h3 class="modal-title">プランを変更しますか？</h3>
  </div>
  <div class="modal-body">
    <p>
      プランをアップグレードされる場合は、契約更新月の残日数分の差額が自動割引されるので、お得にアップグレードできます。<br />
    </p>
    <div class="space-top"></div>
    <div class="text-center">
      <p *ngIf="error" class="alert alert-danger">
        {{ error }}
      </p>
      <button
        *ngIf="isClicked"
        [disabled]="true"
        class="btn btn-primary btn-round btn-wd"
      >
        <span class="loader"></span>
      </button>
      <button
        *ngIf="!isClicked"
        (click)="updateSubscription()"
        class="btn btn-primary btn-round btn-wd"
      >
        プランを変更する
      </button>
      <div class="btn btn-link">(クレジットカードの入力は省略できます。)</div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary btn-link"
      (click)="c('Close click')"
    >
      閉じる
    </button>
  </div>
</ng-template>

<ng-template #cancelSubscriptionWindow let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button class="close" (click)="d('Cross click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <h3 class="modal-title">フリープランに戻しますか？</h3>
  </div>
  <div class="modal-body">
    <p>
      フリープランに変更すると、これまでのプレミアムプランの有料機能が使えなくなります。
      本当に変更しますか？
    </p>
    <div class="space-top"></div>
    <div class="text-center">
      <p *ngIf="error" class="alert alert-danger">
        {{ error }}
      </p>
      <button
        *ngIf="isClicked"
        [disabled]="true"
        class="btn btn-primary btn-round btn-wd"
      >
        <span class="loader"></span>
      </button>
      <button
        *ngIf="!isClicked"
        (click)="cancelSubscription()"
        class="btn btn-primary btn-round btn-wd"
      >
        フリープランに戻す
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary btn-link"
      (click)="c('Close click')"
    >
      閉じる
    </button>
  </div>
</ng-template>
