<h3>新着プロンプト</h3>
<div class="container">
  <div class="space-top"></div>
  <div class="row">
    <ng-container *ngFor="let prompt of prompts">
      <div class="col-10 col-sm-5 col-md-5 col-xl-5">
        <app-prompt-list-item [prompt]="prompt"> </app-prompt-list-item>
      </div>
    </ng-container>
    <div class="col-md-2 ml-auto mr-auto">
      <div class="card" data-color="orange">
        <div class="card-body">
          <div class="card-icon">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
