<!-- <div class="tim-title">
  <h2>BBBBB</h2>
  <div class="space-top"></div>
</div> -->
<div class="row">
  <div
    *ngFor="let history of histories; let i = index"
    class="col-6 col-sm-4 col-md-3 col-xl-2"
  >
    <div class="card">
      <div class="card-image">
        <a routerLink="/prompt/{{ history._id }}">
          <img
            class="img"
            [src]="
              history.image
                ? history.image
                : './assets/img/image_placeholder.jpg'
            "
          />
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ history.name }}<br /><small>プロンプト</small>
        </h5>
        <div class="card-description">
          <p>
            <!-- <button
              class="btn btn-primary btn-block btn-round"
              routerLink="/prompt/edit/{{ history._id }}"
            >
              編集する
            </button> -->
          </p>
          <p>
            <!-- <button
              class="btn btn-primary btn-link"
              (click)="onDelete(history._id)"
            >
              <i class="nc-icon nc-box"></i>&nbsp; 削除
            </button> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
