<div *ngIf="histories">
  <div class="info" *ngIf="histories.length === 0">
    <div class="icon">
      <i class="nc-icon nc-single-copy-04"></i>
    </div>
    <div class="description">
      <h3 class="info-title">まだコピーされてません</h3>
      <p>
        過去にコピーしたプロンプト履歴を<br />
        このページで確認することができます
      </p>
    </div>
  </div>
  <div class="space-top" *ngIf="histories.length > 0"></div>
  <div class="row">
    <div *ngFor="let history of histories" class="col-6 col-sm-4">
      <app-list-card [prompt]="history"> </app-list-card>
    </div>
  </div>
</div>

<ng-template #Notice let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button class="close" (click)="d('Cross click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <h3 class="modal-title">タヌキからのお知らせ</h3>
  </div>
  <div class="modal-body">
    <h3 class="modal-title text-center">あつまれ！GPTプロンプトへようこそ</h3>
    <br />
    <p>
      あつまれ！GPTプロンプトではプロンプトのコピー、お気に入り追加、自作プロンプトの登録ができちゃうんだ！
    </p>
    <p>
      今いるマイページは、過去に使用したプロンプトを確認したり、お気にりのプロンプトを登録したり、自分で作った自作プロンプトを登録/管理できるよ。
    </p>
    <p>まずは気になるプロンプトをトップページから見つけて使ってみよう。</p>
    <br />
    <div class="text-center">
      <a
        class="btn btn-primary btn-round btn-move-right"
        (click)="c('Close click')"
        [routerLink]="['/']"
      >
        <i class="nc-icon nc-minimal-right"></i>&nbsp; トップページへ行く
      </a>
    </div>
    <div class="card card-plain text-center">
      <div class="card-img-top">
        <img class="img" src="./assets/icons/2.png" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary btn-link"
      (click)="c('Close click')"
    >
      閉じる
    </button>
  </div>
</ng-template>
